<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.e_news">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/background1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".start_activity" />
        <activity android:name=".Login" />
        <activity android:name=".SignUp" />
        <activity android:name=".Profile" />
        <activity android:name=".News" />
        <activity android:name=".Settings" />
        <activity android:name=".Help" />
        <activity android:name=".ContactUs" />
        <activity android:name=".Logged_in" />
    </application>

</manifest>